@import url("https://p.typekit.net/p.css?s=1&k=xyb4auz&ht=tk&f=139.175.147&a=14476071&app=typekit&e=css");

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "proxima-nova-condensed";
  src: url("https://use.typekit.net/af/970510/00000000000000003b9b0944/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/970510/00000000000000003b9b0944/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/970510/00000000000000003b9b0944/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body,
input,
textarea,
select,
button {
  font-family: "proxima-nova", sans-serif;
}

#root {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.ReactModal__Body--open {
  overflow: hidden;
}

div.toast-progress-bar {
  background: #92b7fc;
}

div.Toastify__toast--error {
  background: #ffffff;
}
.Toastify__toast--error .toast-progress-bar {
  background: #e74c3c;
}

.toast-body {
  font-size: 17px;
  padding: 10px;
  font-family: "proxima-nova", sans-serif;
  color: #687892;
}

.Toastify__toast-container--bottom-right {
  height: 370px !important;
  bottom: -13em !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--bottom-right {
    bottom: -13em !important;
  }

  .Toastify__toast {
    margin-bottom: 1rem !important;
  }

  .stripe-cc-input {
    background: white;
    padding: 10px;
    border-radius: 2px;
  }

  .stripe-cc-input-error {
    border: 1px solid #ff3860;
  }
}
